body {
  font-size: 125%;
  user-select: none;
  margin: 1rem;
}

html {
  /* for fade-in */
  transition: opacity 800ms ease;
  opacity: 0;
}

.animecho-unfinished {
  cursor: pointer;
}

.animecho-ignore {
  color: grey;
}

.animecho-loan {
  color: blue;
}

.animecho-kanji {
  color: red;
}

.animecho-line::marker {
  color: purple;
}

.animecho-line {
  margin-bottom: 1rem;
}
