body {
  font-size: 125%;
  user-select: none;
}

html {
  /* for fade-in */
  transition: opacity 800ms ease;
  opacity: 0;
}

.animecho-unfinished {
  cursor: pointer;
}

.animecho-ignore {
  color: grey;
}

.animecho-loan {
  color: blue;
}
